Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
  ...

pipelines/azure-pipelines.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      settings:
  ...

Remove continueOnError
  pipelines/azure-pipelines.release.yml
Due: none

Update token
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/GitHubOAuth.cs
  src/WingetCreateCLI/NativeMethods.txt
  src/WingetCreateCLI/TokenHelper.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

Added warning
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Added UT
  src/WingetCreateTests/WingetCreateTests/UnitTests/TokenCommandTests.cs
Due: pipelines/azure-pipelines.yml

Updated doc
  doc/token.md
Due: none

Added warning in doc
  doc/new-locale.md
  doc/new.md
  doc/show.md
  doc/submit.md
  doc/token.md
  doc/update-locale.md
  doc/update.md
Due: none

CredFree
  src/WingetCreateCLI/TokenHelper.cs
Due: pipelines/azure-pipelines.yml

Update UT assert msg
  src/WingetCreateTests/WingetCreateTests/UnitTests/TokenCommandTests.cs
Due: pipelines/azure-pipelines.yml

Read from file
  src/WingetCreateCLI/TokenHelper.cs
Due: pipelines/azure-pipelines.yml

Rename targe tname
  src/WingetCreateCLI/TokenHelper.cs
Due: pipelines/azure-pipelines.yml

Update token in UT
  pipelines/azure-pipelines.yml
  src/WingetCreateCLI/TokenHelper.cs
  src/WingetCreateTests/WingetCreateTests/Test.runsettings
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTestsBase.cs
Due: pipelines/azure-pipelines.yml

Updated readme
  README.md
Due: none

New functionality for managing tokens securely (#584)
  README.md
  doc/new-locale.md
  doc/new.md
  doc/show.md
  doc/submit.md
  doc/token.md
  doc/update-locale.md
  doc/update.md
  pipelines/azure-pipelines.yml
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/GitHubOAuth.cs
  src/WingetCreateCLI/NativeMethods.txt
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/TokenHelper.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateTests/WingetCreateTests/Test.runsettings
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTestsBase.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/TokenCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Update badge
  README.md
Due: none

Update badge (#585)
  README.md
Due: none

Update configuration file location & extension
  .config/configuration.winget
  README.md
Due: none

Update configuration file location & extension (#586)
  .config/configuration.winget
  README.md
Due: none

Add workload, devmode, and variables
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Add workload, devmode, and variables
  Tools/WingetCreateMakeDSC.ps1
Due: none

Handle sync fork failures with useful error messages
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Exceptions/BranchMergeConflictException.cs
  src/WingetCreateCore/Common/Exceptions/GenericSyncFailureException.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

update string
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Handle sync fork failures with useful error messages (#591)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Exceptions/BranchMergeConflictException.cs
  src/WingetCreateCore/Common/Exceptions/GenericSyncFailureException.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add securityContext to configuration file
  .config/configuration.winget
Due: none

Add securityContext to configuration file (#592)
  .config/configuration.winget
Due: none

Enable symbols publishing in release pipeline
  pipelines/azure-pipelines.release.yml
Due: none

Use OneBranch for signing (#583)
  NuGet.Internal.config
  pipelines/azure-pipelines.release.yml
Due: none

Bump manifest schema version to 1.10.0
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_10.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_7.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_9.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_10.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_6.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_7.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

update comment
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
Due: pipelines/azure-pipelines.yml

skip validation for non-yaml format
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

add a comment
  src/WingetCreateCLI/Commands/BaseCommand.cs
Due: pipelines/azure-pipelines.yml

Move publish step to GitHub Action & use env var instead of --token
  .github/workflows/publish.yml
  pipelines/azure-pipelines.release.yml
Due: none

Update README.md with new guidance and markdownlint fixes
  README.md
Due: none

note for bot accounts
  README.md
Due: none

Retry sync fork on failure
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Use Microsoft.Windows.Settings module for enabling developer mode
  .config/configuration.winget
Due: none

Use Microsoft.Windows.Settings module for enabling developer mode (#598)
  .config/configuration.winget
Due: none

Update github connection
  pipelines/azure-pipelines.release.yml
Due: none

Update github connection (#605)
  pipelines/azure-pipelines.release.yml
Due: none

WIP
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/CacheCommand.cs
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/BaseDscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/DscSettingsCommand.cs
  src/WingetCreateCLI/Commands/InfoCommand.cs
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.yml

Test
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
