Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
  ...

pipelines/azure-pipelines.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      settings:
  ...

Set User-Agent for HTTP requests (#612)
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Update Program.cs
  src/WingetCreateCLI/Program.cs
Due: pipelines/azure-pipelines.yml

Place dsc resource json at the root of the msix (#613)
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreatePackage/WingetCreatePackage.wapproj
Due: pipelines/azure-pipelines.yml

Init TLS
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Exceptions/DownloadHttpsOnlyException.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/NewCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

CE
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Typo
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Don't check for commits ahead by when syncing fork
  src/WingetCreateCore/Common/Exceptions/NonFastForwardException.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Addressing comments
  doc/new.md
  doc/update.md
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Update src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Fix build
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Added --allow-unsecure-downloads option for HTTP downloads (#615)
  doc/new.md
  doc/update.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Exceptions/DownloadHttpsOnlyException.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/NewCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Don't check for commits ahead by when syncing fork (#616)
  src/WingetCreateCore/Common/Exceptions/NonFastForwardException.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Better support for err output
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/BaseDscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/DscSettingsCommand.cs
  src/WingetCreateCLI/Models/DscModels/DscMessageLevel.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateTests/WingetCreateTests/Models/DscExecuteResult.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscSettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix command syntax order in update command examples
  doc/update.md
Due: none

Update strings
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

Update strings (#620)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

fix command syntax order in update command examples (#619)
  doc/update.md
Due: none

add advinstExe in enums
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
Due: pipelines/azure-pipelines.yml

detect exe made by advinst
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

add advinstMsi enum and detection
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
Due: pipelines/azure-pipelines.yml

add advinstMsi case
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Add workflow for automatic issue deduplication
  .github/workflows/automatic-issue-deduplication.yml
Due: none

Support specifying the fork owner
  doc/submit.md
  doc/update.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Support forking an organization
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Add switches
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Bump schema & binary version to 1.12
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_12.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_12.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Added support for optional Authorization and Accept headers via environment variables, improving flexibility.
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Update Oh-My-Posh workflow link in README
  README.md
Due: none

Remove the space in "# yaml-language-server:" to slightly reduce filesizes
  src/WingetCreateCore/Serializers/YamlSerializer.cs
Due: pipelines/azure-pipelines.yml

Add links to additional CI/CD examples in README
  README.md
Due: none

Add --display-name override
  doc/update.md
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.UpdateDisplayName.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Address review comments
  doc/update.md
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

fix: handle resource errors using NativeErrorCode instead of localized message
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Feedback update
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Add Font Package "New" Support and ManifestRootType (#645)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/Constants.cs
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Common/Utils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix stage-defined checks by renaming `__default` stage to `deploy` in release pipeline (#648)
  pipelines/azure-pipelines.release.yml
Due: none

Attempt to fix build
  pipelines/azure-pipelines.release.yml
Due: none

Attempt to fix build (#649)
  pipelines/azure-pipelines.release.yml
Due: none

Attempt to fix build 2
  pipelines/azure-pipelines.release.yml
Due: none

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
