Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
  ...

pipelines/azure-pipelines.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      settings:
  ...

Test
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Adding loc #1
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

Init draft
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/BaseDscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/DscSettingsCommand.cs
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.yml

Move files
  src/WingetCreateCLI/Commands/DscCommands/DscSettingsCommand.cs
  src/WingetCreateCLI/Models/DscModels/BaseResourceObject.cs
  src/WingetCreateCLI/Models/DscModels/SettingsFunctionData.cs
  src/WingetCreateCLI/Models/DscModels/SettingsResourceObject.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

Added schema
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/BaseDscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/DscSettingsCommand.cs
  src/WingetCreateCLI/Models/DscModels/BaseResourceObject.cs
  src/WingetCreateCLI/Models/DscModels/SettingsResourceObject.cs
Due: pipelines/azure-pipelines.yml

Init resource file
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/BaseDscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/DscSettingsCommand.cs
  src/WingetCreateCLI/DscResources/microsoft.winget-create.settings.dsc.resource.json
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

Resx
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix resource file
  src/WingetCreateCLI/DscResources/microsoft.winget-create.settings.dsc.resource.json
Due: pipelines/azure-pipelines.yml

Resx
  src/WingetCreateCLI/Models/DscModels/BaseResourceObject.cs
  src/WingetCreateCLI/Models/DscModels/SettingsResourceObject.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Adding UT
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscSettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Adding more UT
  src/WingetCreateTests/WingetCreateTests/Models/DscExecuteResult.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscSettingsCommandTests.cs
Due: pipelines/azure-pipelines.yml

Assert InDesiredState for Test operation
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscSettingsCommandTests.cs
Due: pipelines/azure-pipelines.yml

Addressed comments
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/DscSettingsCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscSettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Addressed comments
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/CacheCommand.cs
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Commands/InfoCommand.cs
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/DscResources/microsoft.winget-create.settings.dsc.resource.json
  src/WingetCreateCLI/Models/DscModels/SettingsResourceObject.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Addressed comments
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscSettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Addressed comments
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscCommandTests.cs
Due: pipelines/azure-pipelines.yml

Adding docs
  README.md
  doc/dsc.md
  doc/dsc/settings.md
Due: none

No wrap
  doc/dsc.md
Due: none

Typo
  doc/dsc.md
Due: none

address comments
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Bump manifest schema version to 1.10.0 (#593)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_10.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_7.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_9.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_10.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_6.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_7.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Update version
  src/WingetCreateCLI/DscResources/microsoft.winget-create.settings.dsc.resource.json
Due: pipelines/azure-pipelines.yml

Addressed comments
  src/WingetCreateCLI/Commands/DscCommands/DscSettingsCommand.cs
  src/WingetCreateCLI/Models/DscModels/BaseResourceObject.cs
  src/WingetCreateCLI/Models/DscModels/SettingsFunctionData.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Addressed comments
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/BaseDscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/DscSettingsCommand.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscSettingsCommandTests.cs
Due: pipelines/azure-pipelines.yml

Addressed comments
  src/WingetCreatePackage/Package.appxmanifest
  src/WingetCreatePackage/WingetCreatePackage.wapproj
Due: pipelines/azure-pipelines.yml

Initial support for DSC v3 in WinGet-Create (#607)
  README.md
  doc/dsc.md
  doc/dsc/settings.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/CacheCommand.cs
  src/WingetCreateCLI/Commands/DscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/BaseDscCommand.cs
  src/WingetCreateCLI/Commands/DscCommands/DscSettingsCommand.cs
  src/WingetCreateCLI/Commands/InfoCommand.cs
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/DscResources/microsoft.winget-create.settings.dsc.resource.json
  src/WingetCreateCLI/Models/DscModels/BaseResourceObject.cs
  src/WingetCreateCLI/Models/DscModels/SettingsFunctionData.cs
  src/WingetCreateCLI/Models/DscModels/SettingsResourceObject.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreatePackage/WingetCreatePackage.wapproj
  src/WingetCreateTests/WingetCreateTests/Models/DscExecuteResult.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/DscSettingsCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Update version
  pipelines/azure-pipelines.loc.yml
Due: pipelines/azure-pipelines.loc.yml

Update TouchdownBuildTask version (#608)
  pipelines/azure-pipelines.loc.yml
Due: pipelines/azure-pipelines.loc.yml

Update strings
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

Retry sync fork on failure (#597)
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

use curl and update readme
  .github/workflows/publish.yml
  README.md
Due: none

Added strings
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

Added strings (#609)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

Set User-Agent for HTTP requests
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Place dsc resource json at the root of the msix
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreatePackage/WingetCreatePackage.wapproj
Due: pipelines/azure-pipelines.yml

Print warning to error stream
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.yml

Added comment
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.yml

addressing comments
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
