Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
  ...

pipelines/azure-pipelines.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      settings:
  ...

Cross-platform support
  .github/workflows/nightly.yml
  .gitignore
  .gitmodules
  CONTRIBUTING.md
  README.md
  src/WingetCreateCLI.sln
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/GitHubOAuth.cs
  src/WingetCreateCLI/Logger/Logger.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Properties/PublishProfiles/arm64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/Constants.cs
  src/WingetCreateCore/Common/Msi/Msi.cs
  src/WingetCreateCore/Common/MsixAndAppx.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Common/Utils.cs
  src/WingetCreateCore/Common/WinGetUtil.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreatePackage/WingetCreatePackage.wapproj
  src/WingetCreateTests/WingetCreateTestExeInstaller/WingetCreateTestExeInstaller.csproj
  src/WingetCreateTests/WingetCreateTestMsixInstaller/WingetCreateTestMsixInstaller.wapproj
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix for Loading Invalid Manifests
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

try fixing test
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Improve matching for ZIP with multiple nested installers (#529)
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.RetainInstallerFields.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.ZipMultipleNestedInstallers.yaml
  src/WingetCreateTests/WingetCreateTests/TestConstants.cs
  src/WingetCreateTests/WingetCreateTests/TestUtils.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

add latest localized strings
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

add latest localized strings (#540)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

update code signing step
  pipelines/azure-pipelines.release.yml
Due: none

update code signing step (#541)
  pipelines/azure-pipelines.release.yml
Due: none

Support --release-notes-url and --release-date in autonomous update
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Support for auto-fetching metadata from GitHub API
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix tests
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

address comment
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Update to test autonomous flow and use winget-create test repo
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Json.GitHubAutoFillTest/Multifile.Json.GitHubAutoFillTest.installer.json
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Json.GitHubAutoFillTest/Multifile.Json.GitHubAutoFillTest.json
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Json.GitHubAutoFillTest/Multifile.Json.GitHubAutoFillTest.locale.en-US.json
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Yaml.GitHubAutoFillTest/Multifile.Yaml.GitHubAutoFillTest.installer.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Yaml.GitHubAutoFillTest/Multifile.Yaml.GitHubAutoFillTest.locale.en-US.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Yaml.GitHubAutoFillTest/Multifile.Yaml.GitHubAutoFillTest.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

fix comment
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

address review comments
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Json.GitHubAutoFillTest/Multifile.Json.GitHubAutoFillTest.locale.en-US.json
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/LocalizationTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

remove unused import
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

Support auto-fetching metadata from GitHub API and add manual args (#543)
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Json.GitHubAutoFillTest/Multifile.Json.GitHubAutoFillTest.installer.json
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Json.GitHubAutoFillTest/Multifile.Json.GitHubAutoFillTest.json
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Json.GitHubAutoFillTest/Multifile.Json.GitHubAutoFillTest.locale.en-US.json
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Yaml.GitHubAutoFillTest/Multifile.Yaml.GitHubAutoFillTest.installer.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Yaml.GitHubAutoFillTest/Multifile.Yaml.GitHubAutoFillTest.locale.en-US.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/Multifile.Yaml.GitHubAutoFillTest/Multifile.Yaml.GitHubAutoFillTest.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/LocalizationTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Reset ReleaseDate in update flow
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Fix a typo I made 🤦‍♂️
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix auto-fill message showing on non-GitHub URLs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Update command docs
  doc/new.md
  doc/update.md
Due: none

Fix auto-fill message showing on non-GitHub URLs (#544)
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Update command docs and fix typo in a resource string (#546)
  doc/new.md
  doc/update.md
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Reset ReleaseDate in update flow (#545)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

replace notice text
  NOTICE.txt
Due: none

Fix tense for resource string
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

singular
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Fix tense for resource string (#548)
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

try different github app id
  src/WingetCreateCore/Common/Constants.cs
Due: pipelines/azure-pipelines.yml

print key
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTestsBase.cs
Due: pipelines/azure-pipelines.yml

try again
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

try again
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTestsBase.cs
Due: pipelines/azure-pipelines.yml

Update regex for finding architecture from URL
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Update regex for finding architecture from URL (#551)
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

try throwing exception
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

update localized strings
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

replace notice text (#547)
  NOTICE.txt
Due: none

update localized strings (#552)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
