Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
  ...

pipelines/azure-pipelines.yml:
  jobs:
  - job: GetVersion
    variables:
      runCodesignValidationInjection: ${{ false }}
      skipComponentGovernanceDetection: ${{ true }}
    steps:
    - powershell: '[xml]$project = get-content "$(workingDirectory)/WingetCreateCLI/WingetCreateCLI.csproj"
  
  ...

Add interactive mode description in update command docs
  doc/update.md
Due: none

Quotes are needed for architecture/scope overrides
  doc/update.md
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

winget configuration is not experimental anymore
  README.md
Due: none

Use special markdown for better highlighting on GitHub
  README.md
  doc/new.md
  doc/update.md
Due: none

fix issue #306
  README.md
Due: none

update issue template
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Due: none

trim trailing whitespaces
  doc/help.md
  doc/new.md
  doc/settings.md
  doc/token.md
Due: none

Add examples for token command
  doc/token.md
  src/WingetCreateCLI/Commands/TokenCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

more explanation for overrides
  doc/update.md
Due: none

--help is a supported option
  doc/cache.md
  doc/show.md
  doc/submit.md
  doc/token.md
Due: none

fix comment
  src/WingetCreateCLI/Commands/ShowCommand.cs
Due: pipelines/azure-pipelines.yml

link to episode? :D
  README.md
Due: none

update notice.txt
  NOTICE.txt
Due: none

missed a quote
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

tabs -> spaces
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

only info command can suffice
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Due: none

update settings tests
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
Due: pipelines/azure-pipelines.yml

feedback
  doc/update.md
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

Update docs and examples (#505)
  .github/ISSUE_TEMPLATE/Bug_Report.yml
  NOTICE.txt
  README.md
  doc/cache.md
  doc/help.md
  doc/new.md
  doc/settings.md
  doc/show.md
  doc/submit.md
  doc/token.md
  doc/update.md
  src/WingetCreateCLI/Commands/ShowCommand.cs
  src/WingetCreateCLI/Commands/TokenCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Match more architectures from URL
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

update localized strings
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

only run sdl pipeline on non PRs
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

update localized strings (#510)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

try this
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

fix alignment
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

Use latest project dependencies
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/ShowCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Logger/Logger.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Models/Partials/InstallerPartials.cs
  src/WingetCreateCore/Models/Partials/LocalePartials.cs
  src/WingetCreateCore/Models/Partials/SingletonPartials.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CacheCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CharacterValidationTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CommonTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/FieldValidationTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/LocaleCommandsTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/NewCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/OAuthTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/TokenCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

add skip step
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

Match more architectures from URL (#508)
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Mention about Win11 SDK 10.0.22000.0 for building solution
  README.md
Due: none

Update .vsconfig
  .vsconfig
Due: none

Skip 1ES build tags for PRs (#511)
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

Revert changes in .vsconfig
  .vsconfig
Due: none

increment version to 1.6
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

increment version to 1.6 (#514)
  src/WingetCreateCLI/WingetCreateCLI.csproj
Due: pipelines/azure-pipelines.yml

List Win11 SDK as requirement to build the solution (#513)
  README.md
Due: none

Discard changes to src/WingetCreateCLI/Logger/Logger.cs
  src/WingetCreateCLI/Logger/Logger.cs
Due: pipelines/azure-pipelines.yml

https://restsharp.dev/v107/#mocking
  src/WingetCreateTests/WingetCreateTests/UnitTests/OAuthTests.cs
Due: pipelines/azure-pipelines.yml

Apply suggestions from code review
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/PromptHelper.cs
Due: pipelines/azure-pipelines.yml

Address build warnings for NLog
  src/WingetCreateCLI/Logger/Logger.cs
Due: pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
