Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
  ...

pipelines/azure-pipelines.yml:
  jobs:
  - job: GetVersion
    variables:
      runCodesignValidationInjection: ${{ false }}
      skipComponentGovernanceDetection: ${{ true }}
    steps:
    - powershell: '[xml]$project = get-content "$(workingDirectory)/WingetCreateCLI/WingetCreateCLI.csproj"
  
  ...

Update NOTICES file to latest pipeline artifact (#481)
  NOTICE.txt
Due: none

refactor for better separation
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCLI/LocaleHelper.cs
Due: pipelines/azure-pipelines.yml

more tests
  src/WingetCreateCLI/LocaleHelper.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CommonTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/LocaleCommandsTests.cs
Due: pipelines/azure-pipelines.yml

address review comments
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

address review comments
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Improvements to replace argument (#485)
  doc/submit.md
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix comment
  src/WingetCreateCore/Models/Partials/DefaultLocalePartials.cs
Due: pipelines/azure-pipelines.yml

Updated to MOST of the great feedback from @Trenly and @mdanish-kh
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Remove unused variable
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Use Pipeline for assigning indicies
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Improve PS7 check
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Hide error on installed module check
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Fix source selection for package
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Improve range check for selection
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Cast to void instead of unused var
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Improve file output and encoding
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Lint file
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Improve dependencies with custom exception type
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Allow selecting by Name, ID, or Index, and allow skipping selection
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Fix error message
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Update src/prototype/WingetCreateMakeDSC.ps1
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Explicitly set scope on variable
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Trim trailing '.0' from schema header
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

Improve the MakeDSC script (#488)
  src/prototype/WingetCreateMakeDSC.ps1
Due: pipelines/azure-pipelines.yml

move make dsc file to tools folder
  Tools/WingetCreateMakeDSC.ps1
Due: none

Prototype creating a WinGet Configuration DSC file in PowerShell (#462)
  Tools/WingetCreateMakeDSC.ps1
Due: none

Retain non-null installer fields when copying over root values
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.OverwriteNullInstallerFields.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.RetainInstallerFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

address review comments
  doc/new-locale.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCLI/LocaleHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateTests/WingetCreateTests/UnitTests/LocaleCommandsTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Retain non-null installer fields when copying over root values (#491)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.OverwriteNullInstallerFields.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.RetainInstallerFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

address PR comments
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCLI/LocaleHelper.cs
Due: pipelines/azure-pipelines.yml

Add support for creating and updating locales (#480)
  README.md
  doc/new-locale.md
  doc/update-locale.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/ShowCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCLI/LocaleHelper.cs
  src/WingetCreateCLI/Program.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/Constants.cs
  src/WingetCreateCore/Models/Partials/DefaultLocalePartials.cs
  src/WingetCreateCore/Models/Partials/LocalePartials.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.LocaleConversionTest.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/LocaleCommandsTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Remove whitespace from branch name
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

add unit test
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.VersionWithWhitespace.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

pr -> pull request
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
Due: pipelines/azure-pipelines.yml

Create similarissues.yml
  .github/workflows/similarissues.yml
Due: none

Create similarissues.yml (#500)
  .github/workflows/similarissues.yml
Due: none

Update similarissues.yml
  .github/workflows/similarissues.yml
Due: none

Update similarissues.yml (#501)
  .github/workflows/similarissues.yml
Due: none

Remove whitespace from branch name (#499)
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.VersionWithWhitespace.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
