Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
  ...

pipelines/azure-pipelines.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      settings:
  ...

Display available UAP
  pipelines/azure-pipelines.release.yml
Due: none

Use 26100
  README.md
  pipelines/azure-pipelines.yml
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreatePackage/WingetCreatePackage.wapproj
  src/WingetCreateTests/WingetCreateTestMsixInstaller/WingetCreateTestMsixInstaller.wapproj
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.DontMoveInstallerFieldsToRoot.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MoveInstallerFieldsToRoot.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.OverwriteNullInstallerFields.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.RetainInstallerFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Remove update manifest job
  pipelines/azure-pipelines.release.yml
Due: none

Updated pubxml files
  src/WingetCreateCLI/Properties/PublishProfiles/x64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
Due: pipelines/azure-pipelines.yml

Attempt to fix build 2 (#650)
  README.md
  pipelines/azure-pipelines.release.yml
  pipelines/azure-pipelines.yml
  src/WingetCreateCLI/Properties/PublishProfiles/x64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreatePackage/WingetCreatePackage.wapproj
  src/WingetCreateTests/WingetCreateTestMsixInstaller/WingetCreateTestMsixInstaller.wapproj
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.DontMoveInstallerFieldsToRoot.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MoveInstallerFieldsToRoot.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.OverwriteNullInstallerFields.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.RetainInstallerFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Fix order of function arguments
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Fix order of function arguments (#652)
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Fix more positional function args
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
Due: pipelines/azure-pipelines.yml

Fix more positional function args (#653)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
Due: pipelines/azure-pipelines.yml

Update release pipleine
  pipelines/azure-pipelines.release.yml
Due: none

Revert "Update release pipleine"
  pipelines/azure-pipelines.release.yml
Due: none

Remove githubrelease task
  pipelines/azure-pipelines.release.yml
Due: none

Update release pipeline (#656)
  pipelines/azure-pipelines.release.yml
Due: none

Add issue types to issue templates
  .github/ISSUE_TEMPLATE/Bug_Report.yml
  .github/ISSUE_TEMPLATE/Documentation_Issue.yml
  .github/ISSUE_TEMPLATE/Feature_Request.yml
Due: none

Add issue types to issue templates (#657)
  .github/ISSUE_TEMPLATE/Bug_Report.yml
  .github/ISSUE_TEMPLATE/Documentation_Issue.yml
  .github/ISSUE_TEMPLATE/Feature_Request.yml
Due: none

Add token creation steps in aka.ms/winget-create-token
  doc/token.md
Due: none

Redirect README to token.md
  README.md
Due: none

Add token creation steps in aka.ms/winget-create-token (#659)
  README.md
  doc/token.md
Due: none

Add spellchecking to the repository
  .github/actions/spelling/README.md
  .github/actions/spelling/advice.md
  .github/actions/spelling/allow.txt
  .github/actions/spelling/candidate.patterns
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect/generic_terms.txt
  .github/actions/spelling/expect/software.txt
  .github/actions/spelling/expect/usernames.txt
  .github/actions/spelling/expect/windows_terms.txt
  .github/actions/spelling/line_forbidden.patterns
  .github/actions/spelling/patterns.txt
  .github/actions/spelling/reject.txt
  .github/workflows/spellCheck.yml
Due: none

ignore some files
  .github/actions/spelling/excludes.txt
Due: none

patterns & code terms
  .github/actions/spelling/allow.txt
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect/code_terms.txt
  .github/actions/spelling/expect/usernames.txt
  .github/actions/spelling/patterns.txt
Due: none

expects and code fixes
  .github/actions/spelling/advice.md
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect/code_terms.txt
  .github/actions/spelling/expect/generic_terms.txt
  .github/actions/spelling/expect/software.txt
  .github/actions/spelling/expect/windows_terms.txt
  .github/actions/spelling/patterns.txt
  Localization/Resources/es-ES/Resources.es-ES.resx
  NuGet.config
  Tools/WingetCreateMakeDSC.ps1
  doc/dsc.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/LocalizableSentenceBuilder.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateCore/Common/Extensions.cs
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateCore/Common/Utils.cs
  src/WingetCreateCore/Serializers/YamlSerializer.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

revert change to localization file
  Localization/Resources/es-ES/Resources.es-ES.resx
Due: none

patterns & sorting
  .github/actions/spelling/allow.txt
  .github/actions/spelling/expect/code_terms.txt
  .github/actions/spelling/patterns.txt
Due: none

remove unnecessary
  .github/actions/spelling/allow.txt
  .github/actions/spelling/expect/code_terms.txt
  .github/actions/spelling/expect/generic_terms.txt
  .github/actions/spelling/expect/software.txt
  .github/actions/spelling/expect/windows_terms.txt
Due: none

turns out these ones weren't unnecessary
  .github/actions/spelling/expect/generic_terms.txt
  .github/actions/spelling/expect/windows_terms.txt
Due: none

duplicates & GitHub
  .github/actions/spelling/expect/code_terms.txt
  .github/actions/spelling/patterns.txt
  README.md
  doc/update.md
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.DeserializeAliasFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTestsBase.cs
Due: pipelines/azure-pipelines.yml

GitHub pls
  .github/ISSUE_TEMPLATE/Bug_Report.yml
  .github/actions/spelling/expect/generic_terms.txt
  .github/actions/spelling/patterns.txt
Due: none

revert: weird line terminators in settings file
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.yml

fix typo without breaking line endings
  src/WingetCreateCLI/UserSettings.cs
Due: pipelines/azure-pipelines.yml

lock version & duplicates via pattern
  .github/actions/spelling/allow.txt
  .github/actions/spelling/expect/code_terms.txt
  .github/actions/spelling/patterns.txt
  .github/workflows/spellCheck.yml
Due: none

Workflow update
  .editorconfig
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect/code_terms.txt
  .github/actions/spelling/expect/generic_terms.txt
  .github/actions/spelling/expect/software.txt
  .github/actions/spelling/expect/windows_terms.txt
  .github/actions/spelling/patterns.txt
  .github/workflows/spellCheck.yml
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/Extensions.cs
Due: pipelines/azure-pipelines.yml

try this instead
  .github/actions/spelling/patterns.txt
Due: none

Some Minor Cleanup (#1)
  .editorconfig
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect/code_terms.txt
  .github/actions/spelling/expect/generic_terms.txt
  .github/actions/spelling/expect/software.txt
  .github/actions/spelling/expect/windows_terms.txt
  .github/actions/spelling/patterns.txt
  .github/workflows/spellCheck.yml
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/Extensions.cs
Due: pipelines/azure-pipelines.yml

Refactor policy bot rules into separate files
  .github/policies/labelAdded.noRecentActivity.yml
  .github/policies/labelManagement.issueClosed.yml
  .github/policies/labelManagement.issueOpened.yml
  .github/policies/labelManagement.issueUpdated.yml
  .github/policies/moderatorTriggers.yml
  .github/policies/resourceManagement.yml
  .github/policies/scheduledSearch.closeNoRecentActivity.yml
  .github/policies/scheduledSearch.markNoRecentActivity.yml
Due: none

Standardize PR template with emoji sections and issue types
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Standardize PR template with emoji sections and issue types (#665)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Refactor policy bot rules into separate files (#663)
  .github/policies/labelAdded.noRecentActivity.yml
  .github/policies/labelManagement.issueClosed.yml
  .github/policies/labelManagement.issueOpened.yml
  .github/policies/labelManagement.issueUpdated.yml
  .github/policies/moderatorTriggers.yml
  .github/policies/resourceManagement.yml
  .github/policies/scheduledSearch.closeNoRecentActivity.yml
  .github/policies/scheduledSearch.markNoRecentActivity.yml
Due: none

Add spellchecking to the repository (#661)
  .editorconfig
  .github/ISSUE_TEMPLATE/Bug_Report.yml
  .github/actions/spelling/README.md
  .github/actions/spelling/advice.md
  .github/actions/spelling/allow.txt
  .github/actions/spelling/candidate.patterns
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect/code_terms.txt
  .github/actions/spelling/expect/generic_terms.txt
  .github/actions/spelling/expect/software.txt
  .github/actions/spelling/expect/windows_terms.txt
  .github/actions/spelling/line_forbidden.patterns
  .github/actions/spelling/patterns.txt
  .github/actions/spelling/reject.txt
  .github/workflows/spellCheck.yml
  NuGet.config
  README.md
  Tools/WingetCreateMakeDSC.ps1
  doc/dsc.md
  doc/update.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/LocalizableSentenceBuilder.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateCore/Common/Extensions.cs
  src/WingetCreateCore/Common/GitHub.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Common/Utils.cs
  src/WingetCreateCore/Serializers/YamlSerializer.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.DeserializeAliasFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTestsBase.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Pin .NET SDK to 9.0.313 via global.json (#671)
  global.json
Due: none

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
