Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
  ...

pipelines/azure-pipelines.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      settings:
  ...

Updating to new App
  .github/workflows/similarissues.yml
Due: none

Updating to new App (#555)
  .github/workflows/similarissues.yml
Due: none

Fix conflict with --display-version argument
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Get ARP entries from MSI database
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Fix tests
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.RetainInstallerFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Remove unwanted condition
  src/WingetCreateCore/Common/PackageParser.cs
Due: pipelines/azure-pipelines.yml

Get ARP entries from MSI database (#550)
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.RetainInstallerFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

update
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

revert
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

try new app id
  src/WingetCreateCore/Common/Constants.cs
Due: pipelines/azure-pipelines.yml

try again
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

update notice text
  NOTICE.txt
Due: none

Update GitHub app id for E2E testing (#558)
  NOTICE.txt
  pipelines/azure-pipelines.yml
  src/WingetCreateCore/Common/Constants.cs
Due: pipelines/azure-pipelines.yml

fix tests
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.DontMoveInstallerFieldsToRoot.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_6.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_7.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_9.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_6.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_7.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_9.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MoveInstallerFieldsToRoot.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

fix version
  pipelines/azure-pipelines.yml
Due: pipelines/azure-pipelines.yml

update publish profile
  src/WingetCreateCLI/Properties/PublishProfiles/x64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
Due: pipelines/azure-pipelines.yml

Add support for 1.9 schema (#561)
  pipelines/azure-pipelines.yml
  src/WingetCreateCLI/Properties/PublishProfiles/x64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.DontMoveInstallerFieldsToRoot.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_6.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_7.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullJsonSingleton1_9.json
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_6.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_7.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.FullYamlSingleton1_9.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.MoveInstallerFieldsToRoot.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

apply strings
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

apply strings (#562)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

Cross-platform support
  .gitignore
  .gitmodules
  .vsconfig
  CONTRIBUTING.md
  README.md
  pipelines/azure-pipelines.yml
  src/WingetCreateCLI.sln
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/GitHubOAuth.cs
  src/WingetCreateCLI/Logger/Logger.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Properties/PublishProfiles/arm64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/Constants.cs
  src/WingetCreateCore/Common/Msi/Msi.cs
  src/WingetCreateCore/Common/MsixAndAppx.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Common/Utils.cs
  src/WingetCreateCore/Common/WinGetUtil.cs
  src/WingetCreateCore/Serializers/YamlSerializer.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreatePackage/WingetCreatePackage.wapproj
  src/WingetCreateTests/WingetCreateTestExeInstaller/WingetCreateTestExeInstaller.csproj
  src/WingetCreateTests/WingetCreateTestMsiInstaller/WingetCreateTestMsiInstaller.vdproj
  src/WingetCreateTests/WingetCreateTestMsixInstaller/WingetCreateTestMsixInstaller.wapproj
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CommonTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Discard changes to src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
Due: pipelines/azure-pipelines.yml

Discard changes to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Apply suggestions from code review
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/MsixAndAppx.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Address review comments
  .gitmodules
  README.md
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCore/Common/Msix.cs
  src/WingetCreateCore/Common/MsixAndAppx.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CommonTests.cs
Due: pipelines/azure-pipelines.yml

Use XDG base directory specification
  src/WingetCreateCLI/Common.cs
Due: pipelines/azure-pipelines.yml

Remove empty list fields from the manifest
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.EmptyFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Ente Auth desktop 4.1.5
  manifests/e/ente-io/auth-desktop/4.1.5/ente-io.auth-desktop.installer.yaml
  manifests/e/ente-io/auth-desktop/4.1.5/ente-io.auth-desktop.locale.en-US.yaml
  manifests/e/ente-io/auth-desktop/4.1.5/ente-io.auth-desktop.yaml
Due: none

Prompt for zipped binaries in NewCommand flow
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Remove empty list fields from the manifest (#563)
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.EmptyFields.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Prompt for zipped binaries in NewCommand flow (#567)
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

update latest strings
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

update latest strings (#571)
  Localization/Resources/de-DE/Resources.de-DE.resx
  Localization/Resources/es-ES/Resources.es-ES.resx
  Localization/Resources/fr-FR/Resources.fr-FR.resx
  Localization/Resources/it-IT/Resources.it-IT.resx
  Localization/Resources/ja-JP/Resources.ja-JP.resx
  Localization/Resources/ko-KR/Resources.ko-KR.resx
  Localization/Resources/pt-BR/Resources.pt-BR.resx
  Localization/Resources/ru-RU/Resources.ru-RU.resx
  Localization/Resources/zh-CN/Resources.zh-CN.resx
  Localization/Resources/zh-TW/Resources.zh-TW.resx
Due: none

Add null contitional operator to installers.installer.InstallerType
  src/WingetCreateCLI/PromptHelper.cs
Due: pipelines/azure-pipelines.yml

Allow control over PR auto-open behavior
  doc/new-locale.md
  doc/new.md
  doc/settings.md
  doc/submit.md
  doc/update-locale.md
  doc/update.md
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/NewCommand.cs
  src/WingetCreateCLI/Commands/NewLocaleCommand.cs
  src/WingetCreateCLI/Commands/SubmitCommand.cs
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Commands/UpdateLocaleCommand.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/Schemas/settings.schema.0.1.json
  src/WingetCreateCLI/UserSettings.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Don't set ARP entries in NewCommand flow
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

Don't set ARP entries in NewCommand flow (#575)
  src/WingetCreateCLI/Commands/NewCommand.cs
Due: pipelines/azure-pipelines.yml

Make direct API call to sync fork
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

add references
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Make direct API call to sync fork (#581)
  src/WingetCreateCore/Common/GitHub.cs
Due: pipelines/azure-pipelines.yml

Use OneBranch for signing
  NuGet.Internal.config
  pipelines/azure-pipelines.release.yml
Due: none

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
