Repository microsoft/winget-create: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

pipelines/azure-pipelines.loc.yml:
  name: $(BuildDefinitionName)_$(date:yyMM).$(date:dd)$(rev:rrr)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
  ...

pipelines/azure-pipelines.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: Azure-Pipelines-1ESPT-ExDShared
        image: windows-2022
        os: windows
      customBuildTags:
      - ES365AIMigrationTooling
      settings:
  ...

Fix
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CharacterValidationTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Use latest project dependencies (#512)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Logger/Logger.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/PromptHelper.cs
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Models/Partials/InstallerPartials.cs
  src/WingetCreateCore/Models/Partials/LocalePartials.cs
  src/WingetCreateCore/Models/Partials/SingletonPartials.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/E2ETests/E2ETests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CacheCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CharacterValidationTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/CommonTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/FieldValidationTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/GitHubTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/LocaleCommandsTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/NewCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/OAuthTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/SettingsCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/TokenCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

Starting cross-platform support
  .gitignore
  CONTRIBUTING.md
  src/WingetCreateCLI.sln
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/GitHubOAuth.cs
  src/WingetCreateCLI/Logger/Logger.cs
  src/WingetCreateCLI/Properties/PublishProfiles/arm64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/Constants.cs
  src/WingetCreateCore/Common/WinGetUtil.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreatePackage/WingetCreatePackage.wapproj
  src/WingetCreateTests/WingetCreateTestExeInstaller/WingetCreateTestExeInstaller.csproj
  src/WingetCreateTests/WingetCreateTestMsixInstaller/WingetCreateTestMsixInstaller.wapproj
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Remove x86 architecture
  src/WingetCreateCLI.sln
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreatePackage/WingetCreatePackage.wapproj
  src/WingetCreateTests/WingetCreateTestExeInstaller/WingetCreateTestExeInstaller.csproj
  src/WingetCreateTests/WingetCreateTestMsixInstaller/WingetCreateTestMsixInstaller.wapproj
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

update to 1.7 schema
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Models/DefaultLocaleManifestModels.cs
  src/WingetCreateCore/Models/InstallerManifestModels.cs
  src/WingetCreateCore/Models/LocaleManifestModels.cs
  src/WingetCreateCore/Models/SingletonManifestModels.cs
  src/WingetCreateCore/Models/VersionManifestModels.cs
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Support updating DisplayVersion in autonomous update
  doc/update.md
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.AllUrlArguments.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.SingleInstallerWithMultipleDisplayVersions.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.UpdateDisplayVersion.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Reset version specific fields in interactive update
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

Add nightly pipeline for contributors
  .github/workflows/nightly.yml
  .gitmodules
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

Nightly pipeline fixes
  .github/workflows/nightly.yml
Due: none

Fix and optimize nightly pipeline
  .github/workflows/nightly.yml
Due: none

Oops...
  .github/workflows/nightly.yml
  .gitmodules
Due: none

Add manual trigger (workflow_dispatch)
  .github/workflows/nightly.yml
Due: none

Use setup-rust to install cross as well
  .github/workflows/nightly.yml
Due: none

Use matrix.os instead of windows-latest
  .github/workflows/nightly.yml
Due: none

Use NSwagExe_Net80 instead of NSwagExe
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

Use src/** to include changes inside sub-directories
  .github/workflows/nightly.yml
Due: none

Remove pragma warning disable at some places
  src/WingetCreateCore/Common/Msi/Msi.cs
Due: pipelines/azure-pipelines.yml

Fix incorrect hash for ZIP installers in interactive update
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.yml

Reset version specific fields in interactive update (#525)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
Due: pipelines/azure-pipelines.yml

Fix incorrect hash for ZIP installers in interactive update (#528)
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/PackageParserTests.cs
Due: pipelines/azure-pipelines.yml

АНО ЦЕНТР БЛИЗНЕЦЫ
  README.md
Due: none

Create dotnet-desktop.yml
  .github/workflows/dotnet-desktop.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

update pipeline
  pipelines/azure-pipelines.loc.yml
Due: pipelines/azure-pipelines.loc.yml

use authType
  pipelines/azure-pipelines.loc.yml
Due: pipelines/azure-pipelines.loc.yml

Updated localization pipeline to use federated credentials (#535)
  pipelines/azure-pipelines.loc.yml
Due: pipelines/azure-pipelines.loc.yml

Cross-platform support
  .github/workflows/nightly.yml
  .gitignore
  .gitmodules
  CONTRIBUTING.md
  README.md
  src/WingetCreateCLI.sln
  src/WingetCreateCLI/Commands/BaseCommand.cs
  src/WingetCreateCLI/Commands/SettingsCommand.cs
  src/WingetCreateCLI/Common.cs
  src/WingetCreateCLI/GitHubOAuth.cs
  src/WingetCreateCLI/Logger/Logger.cs
  src/WingetCreateCLI/Models/SettingsModel.cs
  src/WingetCreateCLI/Properties/PublishProfiles/arm64ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/PublishProfiles/x86ReleasePublishProfile.pubxml
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCLI/WingetCreateCLI.csproj
  src/WingetCreateCore/Common/Constants.cs
  src/WingetCreateCore/Common/Msi/Msi.cs
  src/WingetCreateCore/Common/MsixAndAppx.cs
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Common/Utils.cs
  src/WingetCreateCore/Common/WinGetUtil.cs
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreatePackage/WingetCreatePackage.wapproj
  src/WingetCreateTests/WingetCreateTestExeInstaller/WingetCreateTestExeInstaller.csproj
  src/WingetCreateTests/WingetCreateTestMsixInstaller/WingetCreateTestMsixInstaller.wapproj
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

update vestris.resourcelib to 2.2.0
  src/WingetCreateCore/WingetCreateCore.csproj
Due: pipelines/azure-pipelines.yml

remove bad test
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.SingleExe.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.TestApp.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

fix last test
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.yml

Update Vestris.ResourceLib to v2.2.0 (#536)
  src/WingetCreateCore/WingetCreateCore.csproj
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.SingleExe.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.TestApp.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.yml

address review comments
  doc/update.md
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Support updating DisplayVersion in autonomous update (#520)
  doc/update.md
  src/WingetCreateCLI/Commands/UpdateCommand.cs
  src/WingetCreateCLI/Properties/Resources.Designer.cs
  src/WingetCreateCLI/Properties/Resources.resx
  src/WingetCreateCore/Common/PackageParser.cs
  src/WingetCreateCore/Models/InstallerMetadata.cs
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.AllUrlArguments.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.SingleInstallerWithMultipleDisplayVersions.yaml
  src/WingetCreateTests/WingetCreateTests/Resources/TestPublisher.UpdateDisplayVersion.yaml
  src/WingetCreateTests/WingetCreateTests/UnitTests/UpdateCommandTests.cs
  src/WingetCreateTests/WingetCreateTests/WingetCreateTests.csproj
Due: pipelines/azure-pipelines.loc.yml, pipelines/azure-pipelines.yml

Path conditions:
  pipelines/azure-pipelines.loc.yml: any of: pipelines/azure-pipelines.loc.yml, src/WingetCreateCLI/Properties/Resources.resx
  pipelines/azure-pipelines.yml: any of: pipelines/azure-pipelines.yml, src
